/**********************
Masonry Responsive Image Gallery - 1.0.3
*********************/
.image-gallery-outer .image-detail > ul[id^="masonry-loop-"]{
	padding-left:0px;
}
.imagegallery-index-index .page-title-wrapper,
.gallery-index-index .page-title-wrapper
{
	display:none;
}
.image-gallery *{
box-sizing:border-box;
-webkit-box-sizing:border-box;
}
.category-desc .title{margin-bottom:15px;}
.image-detail .gallery-item{
	list-style-type:none;
	margin:0;
	/* display: inline-block; */
	display: block;
    width: 33.33%;
    padding : 3px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.image-detail{
	padding-top :12px;
}
.category-title{
	display:block;
    text-align:center;
}
.category-title a{
	font-size: 16px;
	line-height: 2;
}
.category-desc {padding:0 0 15px 0;}
.cat-img {padding:0 0 15px 0;}
.cat-img img{width:100%; height:auto;}
.image-gallery{overflow:hidden;padding:0;background:#FFF;margin:0 -10px;}
.gallery-item .img-box{
	/* margin:10px; */
	border:2px solid #262626;
}
a.imagegallery,
a.imagegallery img{display:block;}
a.imagegallery img{width:100%;}
.img-box-inner{
	position:relative;
	text-align:center;
	overflow:hidden;
}
a.imagegallery img{
	-webkit-transition: 0.5s all 0s;
	-moz-transition: 0.5s all 0s;
	-ms-transition: 0.5s all 0s;
	-o-transition: 0.5s all 05;
	transition: 0.5s all 0s;
}
.gallery-desc-box
{
	display:block;
	padding:0;
	position:absolute;
	top:0%;
	left:0%;
	text-align:center;
	height:100%;
	width:100%;
	color:#FFF;
	font-size:14px;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	background:rgba(0,0,0,0.9) none repeat scroll 0 0;
	
	opacity:0;
	-khtml-opacity:0;
	-moz-opacity:0;
	filter: alpha(opacity=0);
	z-index: -1;
}
.gallery-desc-box .gallery-content
{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	padding:0;
	width:100%;
	text-align:center;
}

.img-box-inner:hover .gallery-desc-box{
	opacity:1;
	-khtml-opacity:1;
	-moz-opacity:1;
	filter: alpha(opacity=100);
	z-index: 1;
}

.gallery-desc-box .gallery-title{
	margin:0;
	font-size:20px;
	text-transform:capitalize;
	color:#FFF;
	letter-spacing:1px;
}
.gallery-desc-box .gallery-title p{margin:0;}
.gallery-desc-box .gallery-title a{
	color:#FFF;
}
.gallery-desc{
	padding:5px;
}
a.image-link {display:inline-block;margin-top:0px;font-size:0;text-indent:-99px;}
a.image-link .fa{
	 /*border: 2px solid #fff;*/
    -webkit-border-radius: 33px;
	-moz-border-radius: 33px;
	-ms-border-radius: 33px;
	-o-border-radius: 33px;
	border-radius: 33px;
    color: #fff;
    font-size: 18px;
    padding:0px;
    transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	display:block;
	background:url(../images/gallery_image_hover.png) no-repeat center center;
        background-size: 65%;
	width:45px;
	height:45px;
}



#masonry-loop {
   /*  -moz-column-count: 3;
    -moz-column-gap: 0px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    column-count: 3;
    column-gap: 0px; */
    width: auto;
	padding : 0px;
	margin:0 -6px;
}
#masonry-loop .gallery-item
{
	width: 33.33%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding:0 3px;
	margin-bottom: 7px;
}
.gallery-desc p{
	margin-top: 0rem;
    margin-bottom: 0rem;
}

@media (max-width: 1240px) {
}
@media (max-width: 1022px) {

.gallery-desc{display:none;}
.gallery-desc-box .gallery-title{font-size:14px;padding:0 0 10px 0;}
.gallery-item .img-box{
	margin:0;
}
.breadcrumbs{
	display:block;
}

#masonry-loop {
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    column-count:2;
    column-gap: 0px;
    width: 100%;
	padding : 0px;
}
.gallery-desc-box{
	font-size: 12px;
}

}
@media (max-width: 767px) {
	.gallery-desc{
		padding:0px;
    }
	.gallery-item, #masonry-loop .gallery-item{
		width:50%;
	}
	.image-gallery{
		position: absolute;
        left: 0;
		margin:0;
	}
	.mfp-gallery .mfp-title{
		display: none;
	}
	
	.gallery-desc{display:none;}
	.gallery-desc-box .gallery-title{padding:0 5px 10px 5px;}
}
@media (max-width: 479px) {


	.gallery-item, #masonry-loop .gallery-item{
		width:100%;
		padding-right: 0px;
	}

a.image-link .fa{
	border: 2px solid #fff;
	-webkit-border-radius: 33px;
	-moz-border-radius: 33px;
	-ms-border-radius: 33px;
	-o-border-radius: 33px;
	border-radius: 33px;
	color: #fff;
	font-size: 12px;
	padding: 0px;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	display: block;
	background: url(../images/view-image.png) no-repeat left top;
	/* width: 40px;
	height: 40px; */

	-webkit-transform: scale(0.9);
	   -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	     -o-transform: scale(0.9);
	        transform: scale(0.9);
}
a.image-link
{
	display: inline-block;
	margin-top: 0px;
	font-size: 0;
	height:42px;
	width:42px;
}
.gallery-desc-box{
	text-align: center;
	color: #FFF;
	font-size: 14px;
}
.gallery-desc-box .gallery-title{
	margin: 0;
	font-size: 14px;
	text-transform: capitalize;
	color: #FFF;
	letter-spacing: 1px;
}
.cat-img img{width:100%; height:auto;}

#masonry-loop {
    -moz-column-count: 1;
    -moz-column-gap: 0px;
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    column-count:1;
    column-gap: 0px;
    width: 100%;
	padding : 0px;
}

}