<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<div class="home_modal_background_block">
    <div class="enter_site_logo_container">
        <div>
            <div id="glowing_mogal_logo">
                <div style="width:250px;margin:0 auto;" onclick="playVid()">
                    <div class="hideModalTop glowing_bl" style="width:40px;margin:0 auto;height:100px;background-color:white;cursor:pointer;">
                    </div>
                </div>
                <div style="width:250px;margin:0 auto;margin-top:40px;" onclick="playVid()">
                    <div class="hideModalLeft glowing_bl" style="float:left;width:35%;height:40px;background-color:white;cursor:pointer;">
                    </div>
                    <div style="float:left;width:30%;height:40px;">
                    </div>
                    <div class="hideModalRight glowing_bl" style="float:left;width:35%;height:40px;background-color:white;cursor:pointer;">
                    </div>
                    <div style="clear:both;">
                    </div>
                </div>
            </div>
            <div style="text-align: center;margin-top: 40px" onclick="playVid()">
                <span class="hideModalHome" style="color:white;font-size:30px;cursor:pointer;">Enter Site</span>
            </div>
        </div>
    </div>
</div>
<script> 
var vid = document.getElementById("homeVideo"); 

function playVid() { 
    vid.play(); 
}
</script>