<?php
if($block->getCategoryId()) {
$category_id = $block->getCategoryId();

$om = \Magento\Framework\App\ObjectManager::getInstance();
$sc = $om->get('\Magento\Framework\App\Config\ScopeConfigInterface');
$isEnabled = $sc->getValue('imagegallery/general/enabled',Magento\Store\Model\ScopeInterface::SCOPE_STORE);

if($isEnabled == 1){

$getCategorytitle       =  $this->helper('Vsourz\Imagegallery\Helper\Data')->getCategorytitle();
$getCategorydescription =  $this->helper('Vsourz\Imagegallery\Helper\Data')->getCategorydescription();
$getImagetitle          =  $this->helper('Vsourz\Imagegallery\Helper\Data')->getImagetitle();
$getImagedescription    =  $this->helper('Vsourz\Imagegallery\Helper\Data')->getImagedescription();

$imagegallerydata  = $block->getImageGalleryCollection();
$imageData         = $block->getImagesByGet();
$catData           = $block->getCategoryCollection();
$catid=$_GET['id'];
?>
<div class="image-gallery-outer" id="galery_images_grid">
	<?php if ($catid) { ?>
	<div class="image-detail">
		<p class="cat_title"><?=$catData[0]['title']?></p>
		<ul id="masonry-loop-<?php echo $catid;?>">
		<?php foreach($imageData as $data){
?>
			<li class="gallery-item">
				<div class="img-box">
					<div class="img-box-inner">
                      <?php if($data['image_photo']){?>
						<a class="imagegallery" href="javascript:;"><img src="<?php echo $this->getUrl('pub/media/').$data['image_photo']; ?>"/></a>
                        <?php } else{
						$Newimage_url = $this->getViewFileUrl('Vsourz_Imagegallery::images/gallery-img-new.jpg');

						?>
                        <a class="imagegallery" href="#"><img src="<?php echo $Newimage_url; ?>" alt="<?php echo "New Image"; ?>" width="300" height="500"/></a>

                        <?php }?>
						<div class="gallery-desc-box">
							<div class="gallery-content">
                                <?php if($data['image_photo']) {?>
								<a class="image-link gallery-block image-link<?php echo $catid; ?>" data-effect="mfp-move-horizontal" href="<?php echo  $this->getUrl('pub/media/').$data['image_photo']; ?>"?>
									<i class="fa"></i>
								</a>
                                <?php }else{ ?>
                                <a class="image-link gallery-block image-link<?php echo $catid; ?>" data-effect="mfp-move-horizontal" href="<?php echo  $Newimage_url; ?>">
									<i class="fa"></i>
								</a>
                               <?php } ?>
							</div>
						</div>
					</div>
				</div>
			</li>
		<?php }; ?>
		</ul>
<script type="text/javascript">
	// require the require function
	requirejs( [ 'require', 'jquery', 'https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js', 'https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js' ],
	  function( require, $, Masonry, ImagesLoaded ) {
	    // require jquery-bridget, it's included in masonry.pkgd.js
	    require( [ 'jquery-bridget/jquery-bridget' ],
	    function( jQueryBridget ) {
	      	// make Masonry a jQuery plugin
	      	jQueryBridget( 'masonry', Masonry, $ );
	      	jQueryBridget( 'imagesloaded', ImagesLoaded, $ );
	      	// jQueryBridget( 'masonry', Masonry, $ );
	      	// now you can use $().masonry()

	     	$('#masonry-loop-<?php echo $catid;?>').imagesloaded(function(){
		     	$('#masonry-loop-<?php echo $catid;?>').masonry({
		      		columnWidth: 0,
			        transitionDuration: 500
		      	});
	      	});
	    }
	  );
	});
</script>

	</div>
<?php } ?>
</div>

<?php }
	else
	{
		echo '<script type="text/javascript">';
		echo 'window.location.href="'.$this->getUrl('').'";';
		echo '</script>';
	}
	}
	else 
	{
	echo '<script type="text/javascript">';
	echo 'window.location.href="'.$this->getUrl('').'";';
	echo '</script>';
	}?>

<script type="text/javascript">
	// require the require function
	requirejs( [ 'require', 'jquery', 'https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js', 'https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js' ],
	  function( require, $, Masonry, ImagesLoaded ) {
	    // require jquery-bridget, it's included in masonry.pkgd.js
	    require( [ 'jquery-bridget/jquery-bridget' ],
	    function( jQueryBridget ) {
	      	// make Masonry a jQuery plugin
	      	jQueryBridget( 'masonry', Masonry, $ );
	      	jQueryBridget( 'imagesloaded', ImagesLoaded, $ );
	      	// jQueryBridget( 'masonry', Masonry, $ );
	      	// now you can use $().masonry()

	     	$('#masonry-loop-<?php echo $catid;?>').imagesloaded(function(){
		     	$('#masonry-loop-<?php echo $catid;?>').masonry({
		      		columnWidth: 0,
			        transitionDuration: 500
		      	});
	      	});
	    }
	  );
	});
</script>
<script type="text/javascript" charset="utf-8">
    require([
            "jquery",
			"jquery/jquery-ui",
			"Vsourz_Imagegallery/js/magnific-popup"

    ],function($){

		  $(document).ready(function(){

		   });

 });

</script>
