<?php
if($block->getCategoriesCollection()) {
$imagegallerydata  = $block->getCategoriesCollection();
?>
	<div id="main-galery-container">
		<?php foreach ($imagegallerydata as $category): ?>
			<a href="/gallery-img?id=<?=$category['category_id']?>">
				<div class="galery-container">
					<?php if(!$category['image']){
						$category['image'] = $this->getViewFileUrl('Vsourz_Imagegallery::images/gallery-img-new.jpg');
					}?>
					<img src="<?=$this->getUrl('pub/media/').$category['image']; ?>"/>
					<p><?=$category['title'] ? $category['title'] : ''?></p>
				</div>
			</a>
		<?php endforeach; ?>
	</div>
<?php
}
else
{
	echo '<script type="text/javascript">';
	echo 'window.location.href="'.$this->getUrl('').'";';
	echo '</script>';
}
?>