<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div style="" class="heade_top_links_block">
    <div class="heade_top_links">
        <a href="/customer/account/create/" style="color:white;">
            Register
        </a>
    </div>
    <div class="heade_top_links">
        <a href="/customer/account/login" style="color:white;">
            Sign In
        </a>
    </div>
</div>