<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

    <li class="nav item" style="float:none;display:inline-block;"><a href="http://mains.roketdev.com/search/term/popular/">Terms</a></li>
    <li class="nav item" style="float:none;display:inline-block;"><a href="http://mains.roketdev.com/privacy-policy-cookie-restriction-mode/">Privacy + Cookies</a></li>
    <li style="display:inline-block;" class="nav item"><a href="/contact">Contact</a></li>
    <li style="display:inline-block;border-right:0px solid transparent !important;" class="nav item"><a href="http://www.dreamrandom.com/">powered by DREAMRANDOM</a></li>

