<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

$target_id = $block->getTargetId();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get 

$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$galery = $connection->
fetchAll("Select * FROM mageplaza_helloworld_post WHERE status=".$product->getId());

$directory = $galery[0]['featured_image'].'/';
$files = glob($directory . '*.png');
if ( $files !== false ){
    $filecount = count( $files );
}

	if($galery[0]['tags']=='2')
	{
		echo $galery[0]['post_content'];
		echo "<script type='text/javascript'>
				require([
			         'jquery',
			    ], function($){
			        $(document).ready(function () {
			            $( '.product .gallery-placeholder' ).remove();
			            $( 'body.catalog-product-view div.product.media' ).css('display','block'); 
			        });
			      });
			</script>";
	}
	else
	{ ?>
		<div class="threesixty car">
	        <div class="spinner">
	        	<span>0%</span>
	        </div>
	        <ol class="threesixty_images"></ol>
	    </div>
		<span id="close_icon">X</span>
		<div>
			<a id="go_to_play_360" class="btn btn-danger go_to_play" data-slide="11" data-total="<?=$filecount?>">Go <i class="icon-forward"></i></a>
			<div id="slider_360"></div>
		</div>
		<?php
		echo "<script type='text/javascript'>
				require([
			         'jquery',
			    ], function($){
			        $(document).ready(function () {
			            $( 'body.catalog-product-view div.product.media' ).css('display','block'); 
			        });
			      });
			</script>";
		echo "<script type='text/javascript'>
			    window.onload = init;
			    var car;
			    function init(){

			        car = $('.car').ThreeSixty({
			            totalFrames: ".$filecount.", // Total no. of image you have for 360 slider
			            endFrame: ".$filecount.", // end frame for the auto spin animation
			            currentFrame: 1, // This the start frame for auto spin
			            imgList: '.threesixty_images', // selector for image list
			            progress: '.spinner', // selector to show the loading progress
			            imagePath:'../pub/media/mageplaza/helloworld/post/image/".$product->getId()."/', // path of the image assets
			            filePrefix: '', // file prefix if any
			            ext: '.png', // extention for the assets
			            width: 447,
			            height: 447,
			            navigation: false,
			            responsive: true
			        });

				    $('.go_to_play').bind('click', function(e) {
				    	var slidePosition = $(this).attr('data-slide');
				      	car.gotoAndPlay(parseInt(slidePosition));
				    });
			    }

			</script>";
	   } ?>
