<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<div style="margin-top:60%;padding:10px;">
    <p style="width:100;text-align:center;color:#A0A88F;font-style: italic;font-size:15px;font-weight: 600px">signup to our newsletter</p>
    
    <input type="text" placeholder="ENTER EMAIL ADRESS" style="background-color: #A0A88F;border: 0px;border-radius: 0px;">
    <div style="margin-top:10px;">
        <img src="/pub/static/version1496413621/frontend/Magento/luma/en_US/images/footer_icon.png" style="width:25px;margin:0 auto;display:block;">
    </div>
    <div style="text-align: center">
        <img src="/pub/static/version1496413621/frontend/Magento/luma/en_US/images/facebook.png" style="padding:10px;height:20px;display: inline-block">
        <img src="/pub/static/version1496413621/frontend/Magento/luma/en_US/images/twitter.png" style="padding:10px;height:20px;display: inline-block">
        <img src="/pub/static/version1496413621/frontend/Magento/luma/en_US/images/instagram.png" style="padding:10px;height:20px;display: inline-block">
    </div>
</div>