/*@font-face {
    font-family: kievit;
    src: url('../fonts/kievit/kievit.otf');
}*/

.columns .column .left_sidebar{
    float:left;
    width:20%;
    padding-top:20px;
    padding:20px;
    box-sizing: border-box;
}
.columns .column .left_sidebar .logo{
    margin:0 auto;
    float:none;
}
.columns .column .left_sidebar img{
    width:50%;
    margin:0 auto;
    margin-bottom:35px !important;
}
.columns .column .main_sidebar{
    float:left;
    width:80%;
    box-sizing: border-box;
}
.home_modal_background_block{
    position:fixed;
    top:0px;
    z-index:99999999;
    width:100vw;
    height:100vh;
    background-image: url('../images/background_image.png');    
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body{
    background-image: url('../images/background_image.png');    
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#maincontent{
    margin:0px;
    padding:0px;
    width:100%;
    max-width: none;
}

.columns .column .left_sidebar .sidebar_menu{
    list-style-type:none;
    width: 100%;
    padding: 0px;
}
.columns .column .left_sidebar .sidebar_menu li{
    font-size:20px;
}
.columns .column .left_sidebar .sidebar_menu li a{
    color:white;
    font-style: italic;
}


.left_sidebar .sidebar_menu .widget.block{
    margin-bottom: 0px;
}
.left_sidebar .sidebar_menu .widget.block a, 
.left_sidebar .sidebar_menu .widget.block p{
    color:white;
    font-style: italic;
    font-size:22px;
    text-transform: none;
}
.left_sidebar .sidebar_menu .widget.block p{
    margin:0px;
}
.columns .column .left_sidebar .sidebar_menu .header.content{
    padding:0px;
}

.columns .column .left_sidebar .sidebar_menu .header.content .minicart-wrapper{
    float:left;
    margin-left: 20px;
}
.columns .column .left_sidebar .sidebar_menu .header.content .minicart-wrapper .action:before{
    display:none;
}

.columns .column .left_sidebar .sidebar_menu .header.content .minicart-wrapper .action{
    color: white;
    font-style: italic;
    font-size: 22px;
    text-transform: uppercase;
}

.footer.content{
    width:100%;
    max-width: none;
    margin:0px;
}
.footer.links{
    float:right;
}
.footer.links li{
    display: inline;    
    color: white !important;
}
.footer.links li a{
    color: white !important;
}
.page-footer{
    background-color: transparent !important;
}
.columns .column .left_sidebar .sidebar_menu .header.content .minicart-wrapper .action .minicart .counter span{        
    display:none;
}


.field.choice.admin__field{
    max-width: 40px;
    margin: 5px;
    float:left;
}
.field.choice.admin__field input[type="radio"] {
  display: none;
}
.options-list.nested{
    clear: both;
}

.field.choice.admin__field label {
   width:39px;
   box-sizing: border-box;
  display: inline-block;
  background-color: transparent;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
  border:1px solid white;
  text-align:center;
}

.field.choice.admin__field input[type="radio"]:checked+label {
  background-color: #bbb;
}
.product-options-bottom{
    clear:left;
}
.field.qty input[type='number']{
    background-color: transparent;
    color: white;
    border-radius: 0px;
    border:1px solid white;
}
.box-tocart .action.tocart{
    background-color:white !important;
    border-radius: 0px;
    color:black !important;
    border:1px solid white !important;
}
.box-tocart .action.primary:hover{
    color:white !Important;
    background-color: black !important;
    border:1px solid white !important;
}
.box-tocart .action.primary.disabled{
    background-color: black;
    border:1px solid white;
}
.price-container .price{
    color:white;
}

.size_guide_block .widget.block{
    border:1px solid white;
    padding:4px;
    float:right;
}

.size_guide_block .widget.block a{
    color:white;    
}

.form.form-cart{
    margin-top:0px !important;
    width:60% !important;
    max-width:60% !important;
    max-width:none;
    border-right:0px solid transparent !important;
}

.cart-container .cart-summary{
    position: relative;
    float: left;
    top: 0px;
    margin-top:0px !important;
    margin-left: 5%;
    background-color: transparent;
    border:1px solid white;
}
.checkout_product_table_image{
    max-width:70px;
}
.checkout_product_table_image img{
    width:100%;
}
.checkout_product_table_image a{
    display: block !important;
    width: 100% !important;
}
.checkout_product_table_product_detali .product-item-name a{
    color:white !important;
    font-size:15px !important;
}
.checkout_product_table_product_price a, .checkout_product_table_product_price span{
    color:white !important;    
}
[name='update_cart_action']{
    background-color: transparent;
    color:white;
    border:1px solid white;
    border-radius: 0px;
}
[name='update_cart_action']:hover{
    background-color: white;    
    color:black;
}

.checkout_product_table_product_subtotal a, .checkout_product_table_product_subtotal span{
    color:white !important;    
}
.checkout_product_table_product_action .actions-toolbar{
    margin: 0px !important;
    padding: 10px;
}
.checkout_product_table_product_action .actions-toolbar a span{
    color: white;
}
.summary_to_checkout{
    background-color: white !important;
    border-radius: 0px !important;
    border:1px solid white !important;
    color:black  !important;
}
.summary_to_checkout:hover{
    color:white  !important;
    background-color:black !important;
}
.checkout-methods-items{
    margin:0px;
}
.multicheckout{
    display:none;
}
.cart-summary .checkout-methods-items .item{
    margin-bottom: 0px !important;
}
.checkout-header{
    margin-top:100px;
}
.checkout-header h1{
    text-align:center;
}
.main_sidebar video{
    width:100% !important;
    padding: 20px;
    box-sizing: border-box;
}
.main_sidebar{
    padding-left:25px ;
    padding-right:25px ;
}


.form.contact input, .form.contact textarea{
    background: transparent;
    border-radius: 0px;
    color: white;
}

.form.contact{
    margin-top:10% !Important;
    width:70%;
    margin:0 auto;
}
.form.contact button{
    border-radius:0px;
    background: transparent;
    color:black;
    background-color: white;
    border:1px solid white;
}

.form.contact button:hover{
    border:1px solid white;
    color:white;
    background-color: black;
}

@media screen and (max-width: 768px) {
    .columns .column .left_sidebar{
        width:100% !important;
    }    
    .columns .column .left_sidebar .sidebar_menu{
        text-align:center !important;
    }    
    .columns .column .left_sidebar .sidebar_menu .minicart-wrapper{
        float:none !important;
        margin:0 auto !important;
    }    
    .columns .column .main_sidebar{
        width:100% !important;
    }
}

.category_categories_block{
    float: left;
    width:25%;
}
.category_products_block{
    float: left;
    width:75%;    
}
.category_filter_sort_block .page-title{
    text-align:center;
}
.category_categories_block .widget.block a{
    color:white;
    font-size:18px;
}
.category_categories_block .widget.block{
    margin-bottom: 0px;
}
.products-grid .product-item-info{
    background-color: transparent !important;
    box-shadow: none  !important;
}
.products-grid .product-item-info .product-item-name a{
    color:white !important;
    font-size:16px !important;
}
.products-grid .product-item-info:hover, .products-grid .product-item-info.active{
    background-color: transparent !important;
    border:1px solid transparent !important;
}
.products-grid .product-item-info .product-image-wrapper{
    border:1px solid white;
    padding-bottom:121% !important;
}

.toolbar-sorter .sorter-options{
    background-color: transparent;
    border-radius: 0px;
    border:1px solid white;
    color:white;
}
.toolbar-sorter .sorter-options option{
    color:black;
}
.products-grid .price-final_price{
    color:white;
    margin-bottom:5px !important;
}
.products-grid .block_short_description p{
    font-size: 10px;
}
.products-grid .product.product-item{
    width: 32.439%  !important;
}
.footer.content .footer.links li{
    border-right:2px solid white !important;
    padding-right:6px !important;
    padding-left:6px !important;
}





video { border-radius: 6px; }

/* video container */
.videoContainer{
	position:relative;
	overflow:hidden;
//	background:#000;
//	color:#ccc;
//	border-radius: 6px;
//	border: 1px solid rgba(0,0,0,0.8);
//	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	margin: 50px auto 0;
}
/*.videoContainer:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: inset 0 1px 2px rgba(255,255,255,0.3);
	z-index: 6;
	border-radius: 6px;
	pointer-events: none;
}*/

/* video caption css */
.caption{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding: 5px 10px;
	color:#ddd;
	font-size:14px;
	font-weight:300;
	text-align: center;
	background: rgba(0,0,0,0.4);
	text-transform: uppercase;
	border-radius: 6px 6px 0 0;
	-webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

/*** VIDEO CONTROLS CSS ***/
/* control holder */
.controle{
	color:#ccc;
	position:absolute;
	bottom:30px;
	left:26px;
	width:460px;
	z-index:5;
	display:none;
}
/* control bottom part */
.btmControl{
	clear:both;
}
.controle .btnPlay {
	float:left;
	width:34px;
	height:20px;
	padding:5px;
	background: rgba(0,0,0,0.5);
	cursor:pointer;
	border-radius: 6px 0 0 6px;
	border: 1px solid rgba(0,0,0,0.7);
	box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
}
.controle .icon-play{
	background:url(https://s.cdpn.io/6035/vp_sprite.png) no-repeat -11px 0;
	width: 6px;
	height: 9px;
	display: block;
	margin: 0 auto;
	margin-top: 5px;
}
.controle .icon-pause{
	background:url(https://s.cdpn.io/6035/vp_sprite.png) no-repeat -34px -1px;
	width: 8px;
	height: 9px;
	display: block;
	margin: 0 auto;
	margin-top: 5px;
}
.controle .selected{
	font-size:15px;
	color:#ccc;
}
.controle .sound{
	width: 30px;
	height: 30px;
	float:left;
	background: rgba(0,0,0,0.5);
	border: 1px solid rgba(0,0,0,0.7);
	border-left: none;
	box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
	cursor: pointer;
}
.controle .icon-sound {  
	background:url(https://s.cdpn.io/6035/vp_sprite.png) no-repeat -19px 0;
	width: 13px;
	height: 10px;
	display: block;
	margin: 10px 0 0 8px;
}
.controle .muted .icon-sound{
	width: 7px !important;
}
.controle .btnFS{
	width: 30px;
	height: 30px;
	border-radius: 0 6px 6px 0;
	float:left;
	background: rgba(0,0,0,0.5);
	border: 1px solid rgba(0,0,0,0.7);
	border-left: none;
	box-shadow: inset 0 0 1px rgba(255,255,255,0.5);

}
.controle .icon-fullscreen {  
	background:url(https://s.cdpn.io/6035/vp_sprite.png) no-repeat 0 0;
	width: 10px;
	height: 10px;
	display: block;
	margin: 10px 0 0 9px;
}

/* PROGRESS BAR CSS */
/* Progress bar */
.progress-bar {
	height: 10px;
	padding: 10px;
	background: rgba(0,0,0,0.6);
	border: 1px solid rgba(0,0,0,0.7);
	border-left: none;
	box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
	float:left;

}
.progress {
	width:240px;
	height:7px;
	position:relative;
	cursor:pointer;
	background: rgba(0,0,0,0.4); /* fallback */
	box-shadow: 0 1px 0 rgba(255,255,255,0.1), inset 0 1px 1px rgba(0,0,0,1);
	border-radius:10px;
}
.progress span {
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:block;
	border-radius:10px;
}
.timeBar{
	z-index:10;
	width:0;
	background: -webkit-linear-gradient(top, rgba(107,204,226,1) 0%,rgba(29,163,208,1) 100%);
	box-shadow: 0 0 7px rgba(107,204,226,.5);
}
.bufferBar{
	z-index:5;
	width:0;
	background: rgba(255,255,255,0.2);
}

/* VOLUME BAR CSS */
/* volume bar */
.volume{
	position:relative;
	cursor:pointer;
	width:70px;
	height:10px;
	float:right;
	margin-top:10px;
	margin-right:10px;
}
.volumeBar{
	display:block;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:#eee;
	z-index:10;
}

.minicart-wrapper .header_cart{
    background-image: url('../images/cart_icon.png');
    background-size:100%;
    background-repeat: no-repeat;
    width:40px;
    height:40px;
    display:block;
}
.heade_top_links{
    display:inline-block;
    border:1px solid white;
    padding:5px 25px 5px 25px;
    margin-left:10px;    
    margin-top:8px;   
    font-style: italic;
}
.footer.content .footer.links li a{
    font-style: italic;    
}
.field.choice.admin__field input[type="radio"]:checked+label{
    background-color: white;
    color: black;    
}
.hideModalHome{
    font-style: italic; 
}
.field.choice.admin__field input[type="radio"]+label{
    font-family: 'Times new Roman' !important;
}
.box-tocart .field.qty input{
    font-family: 'Times new Roman' !important;    
}
.counter.qty.empty span{
    font-family: 'Times new Roman' !important;        
}
*{
    font-style: italic !important;
    font-family: 'Times new Roman';
}
.header.content{
    text-align: right;
}

.heade_top_links_block{
    display: inline-block;
}

.header.content .minicart-wrapper{
    display: inline-block;    
}
.header.content{
    margin-bottom: 20px;
}

.footer.content .footer.links{
    text-align: right;
}
.sandwich_left_menu{
    display:none;
}

@media screen and (max-width: 768px) {
    
    .sandwich_left_menu{
        display:inline-block;
        margin:0 auto;
        border:1px solid white;
        padding: 3px 13px;
        line-height: 1;
        border-radius: 4px;       
    }
    
    .left_menu_block_links{
        display:none;
    }
    
    .sandwich_left_menu i{
        font-style: normal !important;
        font-size: 23px;
    }
    
    .header.content{
        text-align: center;
    }    
    .header.content .heade_top_links_block{
        width: 100%;
    }    
    .header.content .minicart-wrapper{
        float:none;
    }    
    
    .footer.content .footer.links{
        text-align: center;
    }
    
    .footer.content .footer.links li{
        display: block!Important;
        background-color: transparent;
        border:0px solid transparent;
    }
    .footer.content .footer.links li a{
        padding:2px 0px;
    }
    
    .footer.content .footer.links{
        float:none !Important;        
        display: inline-block;
        width:100%;
    }
    .footer.content{
        padding:0px !Important;
    }
    .image-gallery-outer .image-detail > ul[id^="masonry-loop-"]{
        text-align: center !important;
    }
    
}


.actions-toolbar.social-btn a{
    font-style: normal !important;    
}

div.ov-nosize .orbittour-inner-container{
    background: transparent !important;
}

a.branding-logo img{
    display: none !important;
}
a.branding-button{
    display: none !important;
}


div.orbittour-container a, div.orbittour-container img{
    background: #fff !important;
}


div.ov-nosize.ov-sixteen-nine{
    padding-bottom: 100% !important;
}

#galery_images_grid .image-detail .gallery-item{
    top:0px !important;
    margin-top:10px !important;
}

a, a:hover, a:visited{ 
    color:white!important; 
}

.account .block-collapsible-nav .item.current > a{
    border-color: white;
    color: white;
}