/*@font-face {
    font-family: 'Baskerville';
    src: url('../fonts/baskerv/Baskerville.ttf');
    font-weight: 300;
    font-style: normal
}*/
body, .action.primary{
    font-style: italic !important;
    font-family: 'Times new Roman' !important;
}
#form-validate{
	width: 50%;
	float: left;
	position: relative;
	min-width: inherit;
	max-width: 50%;
	text-align:center;
	margin-top: 100px;
	border-right: 1px solid white;
}
#form-validate > fieldset {
	width: 66%;
	margin:auto;
	text-align:left;
}
#form-validate > fieldset.fieldset>.legend,.login-container .block .block-title {
	border: none!important;
	color: white;
	padding: 0px;
    margin-bottom: 10px!important;
}
#form-validate > fieldset.fieldset>.legend > span {
	font-weight: bold;
    font-style: italic;
    font-size: 18px;
}
#form-validate > fieldset input, #login-form input{
	background: transparent;
    border-radius: 0px;
    color: white;
}
#form-validate > fieldset label:after{
	color: white;
	font-size: 12px;
}
#form-validate > fieldset label span{
	color: white;
	font-size: 10px;
}
#form-validate .actions-toolbar{
	margin-left:17%;
	margin-top:17px;
}
#form-validate > fieldset > div.field{
	margin-bottom: 10px;
}
#form-validate .actions-toolbar button, #login-form .actions-toolbar button{
	border-radius: 0px;
    background-color: white;
    border: none;
    color: black;
    padding: 7px 40px;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}
#register_login{
	width: 49%;
	float: right;
	position: relative;
	text-align: center;
	margin-top: 200px;
	color: white;
    font-style: italic;
}
#register_login a, #login-form a{
	color: white;
	text-decoration: underline;
}
#register_login a:hover, #login-form a:hover{
	color: white;
	text-decoration: underline;
}
#register_login > div > p.large_title,.large_title{
	font-size: 17px;
    font-weight: bold!important;
}
.italic{
	font-style: italic;
	font-size: 15px;
}
#register_login > div > div.sing_in_container span{
	width: 49%;
	text-align: center;
	font-size: 10px;
	display: inline-block;
}
#register_login > div > hr{
	border-top: 2px solid #ccc;
}
#register_login > div > p.normal_title{
	font-weight: bold;
}

.conteiner_center{
	width: 210px;
    margin: 0px auto;
}
#register_login > div > div.social_container span, #social_bl_lonin_page div.social_container span{
	width: 50px;
	height: 50px;
	background: url(https://romabio.com/wp-content/themes/romabio/images/footer-facebook.png);
	display: inline-block;
    background-size: contain;
    border-radius: 50%;
    border: 1px solid;
    margin: 0px 5px;
    cursor: pointer;
}
#maincontent{
	color: white;
}
.log_small_str{
	color: white!important;
    font-size: 10px;
    font-style: italic;
}
.login-container .fieldset:after{
	display: none!important;
}
#login-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
    font-size: 10px;
    font-style: italic;
}
#login-form input::-moz-placeholder { /* Firefox 19+ */
    color: white;
    font-size: 10px;
    font-style: italic;
}
#login-form input:-ms-input-placeholder { /* IE 10+ */
    color: white;
    font-size: 10px;
    font-style: italic;
}
#login-form input:-moz-placeholder { /* Firefox 18- */
    color: white;
    font-size: 10px;
    font-style: italic;
}
div.main_sidebar > div.login-container > div.block-customer-login{
	width: 270px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 0px;
}
#login-form > fieldset > div.actions-toolbar > div{
	display:block;
	width:100%;
	float:none;
}
#login-form > fieldset > div.actions-toolbar > div.primary{
	margin-bottom: 30px;
    text-align: left;
    font-size: 10px;
}
#login-form .actions-toolbar button{
	width:100%;
}
#login-form{
	padding: 0px 25px;
	text-align: left;
}
#login-form .fieldset>.field>.control{
	width: 100%;
}
#login-form fieldset label:after{
	display: none;
}
#login-form .fieldset>.field{
	margin-bottom: 15px;
}
#login-form .fieldset>.field>.label{
	margin-bottom: 3px;
}
.field.note{
	margin-bottom: 20px;
}
#social_bl_lonin_page{
	margin-top: 20px;
	padding: 0 25px;
}
#social_bl_lonin_page .sing_in_container span{
	width: 49%;
	display: inline-block;
	text-align: right;
}
#social_bl_lonin_page span a{
	text-decoration: underline;
}
#social_bl_lonin_page .sing_in_container span:first-child{
	text-align: left;
}
.account-social-login .social-btn > a.fa{
	display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    background: transparent;
    border: 1px solid white;
    font-size: 25px;
    color: white;
}
.account-social-login{
	width: 270px!important;
    margin-left: auto;
    margin-right: auto;
    float: none!important;
    text-align: center;
    margin-bottom: 100px!important;
}
body.customer-account-create .account-social-login{
	float: right!important;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 49%!important;
}
.account-social-login .actions-toolbar.social-btn{
	width: auto!important;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}
#main-galery-container{
	padding-right: 20px;
}
#main-galery-container .galery-container{
	margin-bottom: 30px;
}
#main-galery-container .galery-container img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
#main-galery-container .galery-container p{
	color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
}
#main-galery-container a:active,#main-galery-container .alink:active,#main-galery-container a:hover {
    color: white;
    text-decoration: none;
}
#galery_images_grid .image-detail .gallery-item {
    display: inline-block;
    margin: 0px;
    position: inherit!important;
    left: inherit!important;
    padding: 0px;
    width: 170px;
    margin-right: 15px;
    top: 10px !important;
    margin-top:7px;
}
#galery_images_grid .gallery-item .img-box{
	border: none;
}
#galery_images_grid .image-detail .gallery-item img{
	width: 170px;
	height: 170px;
	object-fit: cover;
}
#galery_images_grid .cat_title{
	color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
}
h1.page-title{
    font-size: 27px;
}
.product-info-price .price-box .price-container span.price{
	font-size: 18px;
}
#maincontent .product-info-main{
	margin-top: 160px;
	padding-right: 20px;
	width: 340px!important;
}
.product-info-main .product-add-form{
	width: 255px;
    position: relative;
    padding-top: 0px!important;
    display: inline-block;
}
.product-info-main .size_guide_block{
	width: 80px;
    position: relative;
    display: inline-block;
	vertical-align: top;
	float: right;
}
.field.choice.admin__field{
	margin-left: 0px;
	margin-right: 6px;
}

.catalog-product-view .columns .column .main_sidebar{
	width: 75%;
}
.box-tocart .action.primary{
	background-color: white;
}
.size_guide_block .widget.block{
	padding: 2px 6px;
    font-size: 10px;
}
#product-options-wrapper{
	font-size: 12px;
}
.box-tocart{
	font-size: 12px;
}
.box-tocart .action.primary{
	font-size: 12px!important;
}
.box-tocart .action:after{
	content: '>';
	position: absolute;
    right: 5px;
}
.box-tocart .actions{
	width: 291px!important;
	max-width: none!important;
}
#product-addtocart-button{
	width: 100%!important;
    text-align: left;
    padding-left: 20px!important;
    position: relative;
    height: 33px;
}
.box-tocart .field.qty{
	width: 48px!important;
	max-width: none!important;
}
.box-tocart .field.qty input{
	width: 33px;
	height: 33px;
	border-right: none;
}
.product-social-links{
	background: white;
    position: relative;
    top: 50px;
    border: 1px solid white;
}
.product-social-links a{
	color: black!important;
    margin: 0px;
    text-align: center;
    margin-left: 12%;
    padding: 7px 0px;
    font-size: 11px;
}
.product-social-links:hover{
	background: black;
	border: 1px solid white;
}
.product-social-links:hover a{
	color: white!important;
}
.action.primary:hover{
	background: white;
}
.product-info-main .product-options-bottom .box-tocart {
    width: 145%;
}
.product-social-links .product-addto-links{
	display: block;
}
.product-social-links .product-addto-links a{
	margin: 0px;
    text-align: center;
    display: block!important;
}
#maincontent .column.main{
	float: left;
}
#maincontent #form-validate.form-address-edit{
	width: 100%;
    max-width: none;
    border-right: none;
}
#maincontent #form-validate.form-address-edit > fieldset{
	width: 44%;
    padding-right: 5%;
}
#maincontent #form-validate.form-address-edit .actions-toolbar{
	margin-left: auto;
}
#maincontent .form-newsletter-manage .actions-toolbar{
	margin-left: auto;
    margin-right: auto;
    width: 44%;
}
#maincontent .form-newsletter-manage,#maincontent .form-edit-account{
	border-right: none!important;
}
#maincontent .form-edit-account .actions-toolbar{
	margin-left: auto;
}
.account.page-layout-2columns-left .sidebar-additional{
	margin-top: 0px;
    margin-left: 2%;
    display: none;
}
.enter_site_logo_container{
	display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    display: -webkit-box;
    position: relative;
    height: 100vh;
    width: 100%;
}
.product-info-main .page-title-wrapper h1{
	margin-bottom: 0px!important;
}
.product-info-main .product-info-price .price-box{
	padding-bottom: 30px;
}
.field.choice.admin__field label{
	width: 42px;
	height: 42px;
	line-height: 30px;
}
.product-info-main .product-options-bottom .box-tocart{
	position: relative;
    top: 50px;
}
.product-info-main .product-options-bottom .box-tocart .fieldset{
	margin-top: 20px;
}
button.mfp-arrow-right, button.mfp-arrow-left{
	background-color: black!important;
}
.columns .column .left_sidebar .sidebar_menu .header.content .minicart-wrapper .action, .left_sidebar .sidebar_menu .widget.block a{
	font-size: 20px!important;
}
.columns .column .left_sidebar .sidebar_menu .header.content .minicart-wrapper .action:hover, .left_sidebar .sidebar_menu .widget.block a:hover{
	text-decoration: none;
}
.left_sidebar .sidebar_menu .widget.block p{
    margin: 15px 0px;
}
.columns .column .left_sidebar img{
	margin-left: 20px;
}
.footer.content{
	max-width: none!important;
}
body.catalog-product-view div.product.media{
	display: none;
}

/* gallery */
.product.media{
	position: relative;
}
.product.media .gallery-placeholder .fotorama__stage{
	display: none;
}
.product.media .gallery-placeholder .fotorama__thumb{
	border: 1px solid;
}
.product.media .gallery-placeholder .fotorama__thumb-border{
	border: none;
	cursor: pointer;
	margin-left: 12px;
}
.product.media .gallery-placeholder .fotorama__nav__frame--thumb{
	padding: 2px 8px;
}
.product.media #close_icon{
	position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid;
    z-index: 999999;
    cursor: default;
    display: none;
}

.account .block-collapsible-nav .item .delimiter{
	margin: 10px 0;
}
.account .block-collapsible-nav .item.current > strong{
	border-color: white;
	color: white;
}
.account .block-collapsible-nav .item a{
	color: white;
}
.account .block-collapsible-nav .item a:hover{
	background: transparent;
}
.account #block-collapsible-nav{
    background: black;
}
.ui-slider-horizontal{
	height: 1px;
    background: white;
}
.ui-slider .ui-slider-handle{
	top: -3px;
    background: white;
    width: 40px;
    height: 7px;
    cursor: pointer;
}
#go_to_play_360{
	display: none;
}
#slider_360{
	margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
	.account #block-collapsible-nav{
		width: 19%;
	    display: inline-block;
	    float: right;
	    border: 1px solid;
	    margin-right: 1%;
	    background: transparent;
	}
	.account .block-collapsible-nav{
		margin-bottom: 0px!important;
	}
	.account .main_sidebar div.block:not(.block-collapsible-nav), 
	.account #maincontent .main_sidebar #form-validate,
	.account .main_sidebar div.message{
		width: 78%;
		float: left;
	}
	.account .main_sidebar div.message{
		width: 72%;
	}
	.account .header.content{
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 768px) {
	h1.page-title{
	    font-size: 22px;
	}
	.product-info-price .price-box .price-container span.price{
		font-size: 15px;
	}
	#maincontent .product-info-main{
		margin-top: 0px;
		width: 90%!important;
    	margin-left: 5%;
	}
	.catalog-product-view .product.media{
		position: relative;
    	top: 60px;
	}
	.product-social-links a{
	    margin-left: -12%;
	}
	#main-galery-container{
		padding-right: 10px;
    	padding-left: 10px;
	}
	#galery_images_grid .image-detail .gallery-item{
		margin-right: 0px;
    	margin-left: 15px;
	}
	div.main_sidebar > div.login-container > div.block-customer-login{
		margin-top: 20px;
	}
	#form-validate {
	    width: 100%;
	    max-width: none;
	    margin-top: 20px;
	    border-right: none;
	}
	#form-validate .actions-toolbar{
		width: 66%;
	    margin-right: auto;
	    margin-left: auto;
	    margin-top: 17px;
	}
	#register_login{
		width: 100%;
		margin-top: 50px;
	}
	body.customer-account-create .account-social-login{
		float: none!important;
		margin-bottom: 10px!important;
	}
	body.customer-account-index .main_sidebar{
		padding: 0px 20px;
	}
	#maincontent #form-validate.form-address-edit > fieldset{
		width: 70%;
    	padding-right: 0;
	}
	.product-info-main .product-add-form{
		width: 100%;
	}
	.box-tocart .actions{
		width: calc(100% - 48px)!important;
	}
	.product-info-main .product-options-bottom .box-tocart{
		width: inherit;
	}
	.columns .column .left_sidebar img{
		margin-left: auto;
	}

}
/* input number style */
.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  left: 16px;
  position: relative;
  height: 32px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border: 1px solid white;
  width: 14px;
  height: 14px;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 16px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
}
/* glowing modal logo */
#glowing_mogal_logo div.glowing_bl{
	color: #fff;
	-webkit-animation: glowing 8s infinite; 
  	animation: glowing 8s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes glowing {
    0%   {box-shadow: 0 0 26px #FF0000; background: #fff;}
    25%  {box-shadow: 0 0 44px #FF0000;}
    50%  {box-shadow: 0 0 70px #FF0000; background: #fff;}
    75%  {box-shadow: 0 0 44px #FF0000;}
    100% {box-shadow: 0 0 36px #FF0000; background: #fff;}
}

/* Internet Explorer */

@keyframes glowing {
    0%   {box-shadow: 0 0 3px #ffffff; background: #fff;}
    25%  {box-shadow: 0 0 12px #ffffff;}
    50%  {box-shadow: 0 0 40px #ffffff; background: #fff;}
    75%  {box-shadow: 0 0 12px #ffffff;}
    100% {box-shadow: 0 0 3px #fffff; background: #fff;}
}