<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>
<div class="block-content block block-customer-login">
    <div class="block-title">
        <strong id="block-customer-login-heading" class="large_title" role="heading" aria-level="2">sign in</strong>
    </div>
    <div class="field note log_small_str">You can sign in with your own Mains account or through
Facebook, Google or Twitter below.</div>
    <div aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?php echo $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <fieldset class="fieldset login" data-hasrequired="<?php echo $block->escapeHtmlAttr(__('* Required Fields')) ?>">
                
                <div class="field email required">
                    <label class="label" for="email"><span class="large_title italic">email</span></label>
                    <div class="control">
                        <input name="login[username]" placeholder="Enter email address" value="<?php echo $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?php echo $block->escapeHtmlAttr(__('Email')) ?>" data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field password required">
                    <label for="pass" class="label"><span class="large_title italic">password</span></label>
                    <div class="control">
                        <input name="login[password]" placeholder="Enter password" type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?php echo $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}">
                    </div>
                </div>
                <?php echo $block->getChildHtml('form_additional_info'); ?>
                <div class="actions-toolbar">
                    <div class="primary"><a class="action remind" href="<?php echo $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?php echo $block->escapeHtml(__('Forgot Your Password?')) ?></span></a></div>
                    <div class="secondary"><button type="submit" class="action login primary" name="send" id="send2"><span>sign in</span></button></div>
                </div>
            </fieldset>
        </form>
        <div id="social_bl_lonin_page">

            <div class="sing_in_container">
                <span class="log_small_str">Don’t have an account?</span>
                <span><a class="log_small_str" href="/customer/account/create/">Create account here</a></span>
            </div>
            <hr>
            <p class="large_title italic">sign in with</p>
        </div>
    </div>
</div>
