<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Register $block */
?>
<div id="register_login">
	<div class="conteiner_center">
		<p class="large_title">sign in</p>
		<div class="sing_in_container">
			<span>Have an account?</span>
			<span><a href="/customer/account/login/">Sign in here</a></span>
		</div>
		<hr>
		<p class="normal_title">sign in with</p>
	</div>
</div>  